* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

#right-wheel,
#left-wheel {
    animation: wheel 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#landscape {
    animation: move-landscape 30s infinite linear;
}

#fabric {
    animation: float-flag 2s infinite linear;
    transform-origin: right;
    transform-box: fill-box;
}

@keyframes wheel {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes move-landscape {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-783px);
    }
}

@keyframes float-flag {
    from {
        transform: scale(1);
        width: 197px;
    }
    to {
        transform: scale(1.1);
        width: 180px;
    }
}
